<ul>
  <li routerLinkActive="active"> <a routerLink="/contact" ><strong>CONTACT</strong></a> </li>
  <li routerLinkActive="active"> <a routerLink="/about"><strong>ABOUT</strong></a> </li>
  <li routerLinkActive="active"> <a routerLink="/event" ><strong>EVENT</strong></a> </li>
  <li routerLinkActive="active"> <a routerLink="/product"><strong>PROMOTION</strong></a> </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> <a routerLink="/" ><strong>HOME</strong></a> </li>
</ul>
