<div class="container">
<br><br>
<h1>Who We Are <br>___</h1>

<div>

<div class="logo_yogya"><img  src='/../../assets/Yogya.png' width="100px" height="100px%" /></div>

<h2><b>PT. Akur Pratama</b></h2>

<p style="white-space:pre-wrap;text-align:center;">
Adalah perusahaan ritel modern asli Indonesia dengan format Supermarket dan Department Store

Berdasarkan visi: Tetap menjadi pilihan utama

Berdasarkan misi: setia memenuhi kebutuhan masyarakat

Kami selalu berusaha menyajikan produk-produk yang berkualitas, unggul layanan, akrab bersahabat serta suasana belanja yang menyenangkan
​
</p>
</div>

</div>
<div class="our-brand">
<h1> Our Brands <br> ___</h1>

<img src = '/../../assets/our_brand.PNG'>
</div>
<app-footer> </app-footer>
